<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dh.mapper.CheckItemMapper">


    <select id="selectByCondition" parameterType="string" resultType="com.dh.pojo.Checkitem">
        SELECT * FROM t_checkitem
        <if test="value != null and value.length > 0">
            WHERE code LIKE CONCAT('%',#{value},'%') OR name LIKE CONCAT('%',#{value},'%')
        </if>
    </select>

</mapper>